ul.navigate_simple_list {
	list-style-type:none;
        padding-left:0;
}

ul.navigate_simple_list li {
        margin-bottom:20px;
}

ul.navigate_simple_list_with_description {
        list-style-type:none;
        padding-left:0;
}

ul.navigate_simple_list_with_description li {
        margin-bottom:20px;
}

ul.navigate_simple_list_with_description li .view_link {
        font-weight:bold;
}


ul.navigate_simple_list_with_image_and_description {
	list-style-type:none;
	padding-left:0;
}

ul.navigate_simple_list_with_image_and_description li {
	overflow:hidden;
	margin-bottom:20px;
}

ul.navigate_simple_list_with_image_and_description li .navigate_simple_list_with_image_and_description-image {
        width:100px;
	height:100px;
        float:left;
}

ul.navigate_simple_list_with_image_and_description li .icon_image {
        width:100px;
	height:100px;
	border:1px solid #ddd;
	object-fit: cover;
}

ul.navigate_simple_list_with_image_and_description li .default_image {
        width:100px;
        height:100px;
        border:1px solid #ddd;
        background:#ddd;
}

ul.navigate_simple_list_with_image_and_description li .navigate_simple_list_with_image_and_description-content {
        width:calc( 100% - 100px);
	padding-left:20px;
        float:left;
}

ul.navigate_tiles {
        list-style-type:none;
        padding-left:0;
}

ul.navigate_tiles li {
        float:left;
	max-width:265px;
	width:100%;
	height:200px;
	position:relative;
	margin-right:20px;
	margin-top:20px;
}

ul.navigate_tiles li .tile_image {
        max-width:265px;
	width:100%;
        height:200px;
        border:1px solid #ddd;
        object-fit: cover;
}

ul.navigate_tiles li .default_image {
        max-width:265px;
        width:100%;
        height:200px;
        border:1px solid #ddd;
        background:#ddd;
}

ul.navigate_tiles li .view_link {
        max-width:265px;
	width:100%;
        height:200px;
        position:absolute;
	top:0;
	left:0;
	z-index:10;
}

ul.navigate_tiles li .view_label {
        max-width:265px;
	width:100%;
        min-height:40px;
        position:absolute;
        bottom:0;
        left:0;
        z-index:5;
	text-align:center;
	color:#fff;
	background:rgb(0,0,0,0.7);
	font-weight:bold;
	padding:10px;
	text-transform:uppercase;
}

ul.navigate_porthole {
        list-style-type:none;
        padding-left:0;
}

ul.navigate_porthole li {
        float:left;
        width:170px;
        height:280px;
        margin-right:20px;
        margin-top:20px;
	overflow:hidden;
	text-align:center;
}

ul.navigate_porthole li .porthole_image {
        width:170px;
        height:170px;
        border:1px solid #ddd;
	border-radius:50%;
	margin-bottom: 20px;
	object-fit: cover;
}

ul.navigate_porthole li .default_image {
        width:170px;
        height:170px;
        border:1px solid #ddd;
        border-radius:50%;
        margin-bottom: 20px;
        background:#ddd;
}

/*Das WissKI-Modul fügt auf der Entity-Seite einen Link zum Brotkrumenmenü hinzu, der hier ausgeblendet wird, da nicht gebraucht*/
.wisski-browse-breadcrumb nav.breadcrumb li:last-child {
	display:none;
}

