#edit-display-views input {
    width: 100%;
}

#edit-display-views input[disabled="disabled"] {
    background:#eee;
    color:#888;
    padding:5px;
}

#edit-display-views div[id$="preview-image"] {
    max-width:350px;
}

#edit-display-views input[id$="preview-image-upload"] {
    width:100%;
    padding:5px;
}

#edit-display-views input[name$="[page]"] {
    width:auto;
}

#edit-display-views select[id$="weight"] {
    width:60px;
    padding:5px;
}

#edit-display-views select[id$="weight"] option {
    width:50px;
}

