{% if navigate_item is empty %}
   <p>{{ 'No view displays have been activated.'|t }}</p>
{% else %}
   {% if display_option==0 %}
       <ul class="navigate_simple_list">
           {% for key,val in navigate_item %}
               <li>{% if  val.path != '' %}<a class="view_link" href="{{ val.path }}">{% endif %}{{ val.label }}{% if  val.path != '' %}</a>{% endif %}</li>
           {% endfor %} 
       </ul>
   {% elseif display_option==1 %}
       <ul class="navigate_simple_list_with_description">
           {% for key,val in navigate_item %}
               <li>
                    {% if  val.path != '' %}<a class="view_link" href="{{ val.path }}">{% endif %}{{ val.label }}{% if  val.path != '' %}</a>{% endif %}
                    {% if  val.administrative_description != '' %}<p class="view_description">{{ val.administrative_description }}</p>{% endif %}
               </li>
           {% endfor %}
       </ul>
   {% elseif display_option==2 %}
       <ul class="navigate_simple_list_with_image_and_description">
           {% for key,val in navigate_item %}
               <li> 
                    <div class="navigate_simple_list_with_image_and_description-image">
                       {% if val.preview_image is not empty %}<img class="icon_image" src="{{ val.preview_image }}" />
                       {% else %}<div class="default_image"></div>
                       {% endif %}
                    </div>
                    <div class="navigate_simple_list_with_image_and_description-content">
                       {% if  val.path != '' %}
                            <a class="view_link" href="{{ val.path }}">{% endif %}{{ val.label }}{% if  val.path != '' %}</a>
                       {% endif %}
                       {% if  val.administrative_description != '' %}<p class="view_description">{{ val.administrative_description }}</p>{% endif %}
                    </div>
               </li>
           {% endfor %}
       </ul>
   {% elseif display_option==3 %}
       <ul class="navigate_tiles">
           {% for key,val in navigate_item %}
               <li>
                    {% if val.preview_image is not empty %}<img class="tile_image" src="{{ val.preview_image }}" />
                    {% else %}<div class="default_image"></div>
                    {% endif %}
                    {% if  val.path != '' %}<a class="view_link" href="{{ val.path }}">{% endif %}{% if  val.path != '' %}</a>{% endif %}
                    <span class="view_label">{{ val.label }}</span>
               </li>
           {% endfor %}
       </ul>
   {% elseif display_option==4 %}
       <ul class="navigate_porthole">
           {% for key,val in navigate_item %}
               <li>
                    {% if val.preview_image is not empty %}
                         {% if  val.path != '' %}<a class="image_link" href="{{ val.path }}">{% endif %}
                             <img class="porthole_image" src="{{ val.preview_image }}" />
                         {% if  val.path != '' %}</a>{% endif %}
                    {% else %}
                         {% if  val.path != '' %}<a class="image_link" href="{{ val.path }}">{% endif %}
                             <div class="default_image"></div>
                         {% if  val.path != '' %}</a>{% endif %}
                    {% endif %}
                    {% if  val.path != '' %}<a class="view_link" href="{{ val.path }}">{% endif %}{{ val.label }}{% if  val.path != '' %}</a>{% endif %}
               </li>
           {% endfor %}
       </ul>
   {% endif %}
{% endif %}
